/* Empty. Add your own CSS if you like */

.main {
    position: relative;
    padding: 15px;
    
}

h1 {
    color: #990000;
    font-weight: bold;
}

.scroll-content {
    background-color: lightgrey;
}

#cover {
    width: 300px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 6px 10px 0 grey,
                0 6px 20px 0 grey;
}

#info, h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#controls, #info, h1 {
    text-align: center;
}

#song {
    font-size: 23pt;
}

#artist {
    font-size: 18pt;
}